@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@500&display=swap');
:root {
  --white: #ffffff;
  --black: #000000;
  --grey-100: #999999;
  --grey-200: #222222;
  --grey-200-40: #22222266;
  --red: #f45a5a;
  --blue: #5a79f4;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('/src/assets/fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'GloriaHallelujah';
  font-weight: 400;
  src: url('/src/assets/fonts/GloriaHallelujah-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Patrick Hand';
  src: url('/src/assets/fonts/PatrickHand-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.font-gloria {
  font-family: 'GloriaHallelujah', cursive;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-patrickHand {
  font-family: 'Patrick Hand', cursive;
}

body {
  font-family: 'Pretendard';
}

/* 스크롤 */
.scroll-custom::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background: #939393;
}
